{% extends 'users/base.html' %}

{% load static %}
{% block content %}
<!-- Main Content -->
<main class="auth-page-wrapper">
  <div class="auth-background">
        <img src="{% static 'img/background/pattern.jpg' %}"
                          alt="Background pattern">

  </div>
  <div class="auth-form-container">
    <div class="auth-container auth-container--login">
      <div class="Legend">
        <h1 class="auth-title">Sign In</h1>
      </div>

      <form class="auth-form" id="login-form" method="post">
            {% for field in form %}
                <div class="InputField">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    {% for error in field.errors %}
                        <div class="error-message">{{ error }}</div>
                    {% endfor %}
                </div>
            {% endfor %}

        <div class="ButtonGroup">
          <button type="submit" class="button button--primary">Sign In</button>
        </div>

        <div class="TextLink">
          <a href="forgot_password.html">Forgot password?</a>
        </div>
      </form>

      <p class="auth-switch">Don’t have an account? <a href="{% url 'users:register' %}">Sign up</a></p>
    </div>
  </div>
</main>
{% endblock %}